body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: auto;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    
}

.header {
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding: 16px 8vw 48px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.links {
    display: flex;
    margin: 5px;
}

.header #header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 32px;
    
}

.hero > img {
    max-width: 50%;
    max-height: 400px;
    margin: 10px;
    border-radius: 16px;
}

#hero-main{
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

button, .call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-row {
    display: flex;
    padding: 0 12vw;
    gap: 16px;
}

.content-title {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    margin-bottom: 32px;
}

.content-row img{
    border: 4px;
    border-style: solid;
    border-radius: 8px;
    color: #3882F6;
    width: 100%;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.footer {
    justify-content: center;
}